<!DOCTYPE html>
<html lang="en">
<head>
    <title>Account Page</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Scott's Awesome and snuck this into a commit!">
    <meta name="author" content="LayoutIt!">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/basic.css" rel="stylesheet">
    <input type="hidden" id="userEmail" value="" />
    <input type="hidden" id="comicID" value="" />

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap-notify.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/typescripts.js"></script>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>

    <script>

        $(window).load(function() {
            // Animate loader off screen
            setUserName();
            setUserEmails();
            setUserType();
            renderEditFavourites("favContainer");
            renderContributed("contContainer");
            setTimeout( function(){
                $(".se-pre-con").fadeOut("slow")
            }, 2500);
        });

        window.onload = function (event) {
            //renderFavourites("favContainer");
        };
    </script>
</head>
<body>

<div class="se-pre-con"></div>
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                class="icon-bar"></span><span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/account">Comic</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li>
                <a href="#" onclick="return gotoAccount();">Account</a>
            </li>
            <li>
                <a id="NewComicbtn" onclick="newComic()" href="#">New Comic</a>
            </li>
        </ul>

        <form class="navbar-form navbar-left" role="search" id="searchForm">
            <div class="form-group">
                <input type="text" id="searchQuery" class="form-control"/>
            </div>

            <button type="button" onclick="submitSearch('comic')" href="/search" class="btn btn-default">
                Search Comic
            </button>

            <button type="button" onclick="submitSearch('user')" href="/search" class="btn btn-default">
                Search User
            </button>
        </form>

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/profile">Profile</a>
            </li>
            <li>
                <a href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron well">
                <h2 id="welcomeMessage">Welcome</h2>
            </div>
        </div>
    </div>

        <div class="col-md-6">
            <div class="panel panel-default" id="favContainer">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Favourites
                    </h3>
                </div>
                <br>

                <!-- Below is the template for reference -->
                <!--<div class="thumbnail">
                    <div class="caption">
                        <img style="float:right" class="img-responsive" width="100"
                             src="https://upload.wikimedia.org/wikipedia/en/f/fa/Tiny-wings-icon.jpg"/>
                        <h3>
                            Comic Title
                        </h3>
                        <p>Contributors: Scott, Lee, Dan, Trevor, Alex</p>
                        <p>
                            <a class="btn btn-primary" href="#" onclick="return gotoComic();">Edit</a>
                        </p>
                    </div>
                </div>-->
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-primary" id="contContainer">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Contributed
                    </h3>
                </div>
                <br>
            </div>
        </div>
</div>




</body>
</html>