<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Scott's Awesome and snuck this into a commit!">
    <meta name="author" content="LayoutIt!">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <input type="hidden" id="userEmail" value="" />
    <input type="hidden" id="comicID" value="" />

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/typescripts.js"></script>
    <script src="js/comic.js"></script>
    <script src="js/panel.js"></script>
    <script src="js/ComicWebService.js"></script>

    <script>
        window.onload = function (event) {

        };
    </script>

</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button> <a class="navbar-brand" href="#">Comic</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li>
                <a href="#" onclick="return gotoAccount();">Account</a>
            </li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" />
            </div>
            <button type="submit" class="btn btn-default">
                Search
            </button>
        </form>
        <ul class="nav navbar-nav">


        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron well">
                <h2>
                    Welcome to our Comic Maker!
                </h2>
                <p>
                    We hope you have a lovely time expressing yourself while building fun, innovative and imaginative comics! If you want to edit your account information, you can also do that
                    <a class="btn btn-primary btn-large" href="/profile">Edit my Profile</a>.
                </p>
                <p>
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Favourites
                    </h3>
                </div>
                    <br>

                <div class="thumbnail">
                    <div class="caption">
                        <img style="float:right" class = "img-responsive" width="100" src="https://upload.wikimedia.org/wikipedia/en/f/fa/Tiny-wings-icon.jpg"/>
                        <h3>
                            Comic Title
                        </h3>
                        <p>Contributors: Scott, Lee, Dan, Trevor, Alex</p>
                        <p>
                            <a class="btn btn-primary" href="/edit">Edit</a>
                        </p>
                    </div>
                </div>

                <div class="thumbnail">
                    <div class="caption">
                        <h3>
                            Comic Title
                        </h3>
                        <p>Owner: Scott Henry</p>
                        <p>
                            <a class="btn btn-primary btn-large" href="/edit">Edit</a>
                        </p>
                    </div>
                </div>

                <div class="thumbnail">
                    <div class="caption">
                        <h3>
                            Comic Title
                        </h3>
                        <p>Owner: Scott Henry</p>
                        <p>
                            <a class="btn btn-primary btn-large" href="/edit">Edit</a>
                        </p>
                    </div>
                </div>

                <div class="panel-footer">
                    You really need to get liking a few more comics!
                </div>
            </div>
        </div>


    </div>
</div></div>
</body>
</html>